@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #111;
}
a {
  position: relative;
  width: 180px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  margin: 20px;
  transition: 0.5s;
  border: 2px dotted #fff;
}
a:hover {
  background: #ec0b36 url(./image/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate 0.8s steps(8) forwards;
}
a:nth-child(2):hover {
  background: #730bec url(./image/pixel2.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate 0.8s steps(8) forwards;
}
@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -480px;
  }
}
